services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: posture_score
      POSTGRES_USER: posture_user
      POSTGRES_PASSWORD: posture_pass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
